<body class="home-content">
  <div class="faq-container">
    <div class="faq">
      <section>
        <p>1. pytanie: Czym jest franczyza?</p>
        <div class="faq-answer">
          <p>
            Franczyza to umowa pomiędzy właścicielem biznesu (franchisor) a
            niezależnym przedsiębiorcą (franchisee), która umożliwia franchisee
            korzystanie z nazwy handlowej, znaku towarowego i biznesowego modelu
            franchisora.
          </p>
        </div>
        <p>2. pytanie: Jakie są korzyści z posiadania franczyzy?</p>
        <div class="faq-answer">
          <p>
            Posiadanie franczyzy może zapewnić gotowy biznesowy model, wsparcie
            szkoleniowe, marketingowe i operacyjne ze strony franchisora, co
            może zmniejszyć ryzyko prowadzenia własnego biznesu.
          </p>
        </div>
        <p>
          3. pytanie: Czy potrzebuję doświadczenia w branży, aby otworzyć
          franczyzę?
        </p>
        <div class="faq-answer">
          <p>
            Niektóre franczyzy wymagają doświadczenia w branży, ale wiele z nich
            oferuje wsparcie i szkolenia, które pomagają nowym właścicielom
            zarządzać biznesem.
          </p>
        </div>
        <p>4. pytanie: Jakie są koszty otwarcia franczyzy?</p>
        <div class="faq-answer">
          <p>
            Koszty otwarcia franczyzy mogą obejmować opłatę licencyjną,
            inwestycje w lokal, wyposażenie, zapasy, opłaty marketingowe i inne.
          </p>
        </div>
        <p>5. pytanie: Czy muszę płacić opłaty franczyzowe?</p>
        <div class="faq-answer">
          <p>
            Tak, zazwyczaj płaci się opłatę licencyjną oraz opłaty franczyzowe,
            które mogą być stałe lub zmienne w zależności od przychodów.
          </p>
        </div>
        <p>6. pytanie: Jak długo trwa umowa franczyzowa?</p>
        <div class="faq-answer">
          <p>
            Umowa franczyzowa zazwyczaj trwa przez określony czas, na przykład 5
            lub 10 lat, ale może być również przedłużona.
          </p>
        </div>
        <p>
          7. pytanie: Czy mam kontrolę nad prowadzeniem biznesu jako
          franczyzobiorca?
        </p>
        <div class="faq-answer">
          <p>
            W pewnym stopniu, ale istnieją wytyczne i standardy franczyzowe,
            które należy przestrzegać.
          </p>
        </div>
        <p>8. pytanie: Jakie wsparcie oferuje franczyzodawca?</p>
        <div class="faq-answer">
          <p>
            Franczyzodawca często oferuje wsparcie w obszarach takich jak
            szkolenie personelu, marketing, zarządzanie operacjami i
            technologią.
          </p>
        </div>
        <p>9. pytanie: Czy mogę sprzedać swoją franczyzę?</p>
        <div class="faq-answer">
          <p>
            Tak, ale zazwyczaj wymaga to zgody franczyzodawcy i przekazania
            umowy nowemu właścicielowi.
          </p>
        </div>
        <p>10. pytanie: Jakie są ryzyka związane z posiadaniem franczyzy?</p>
        <div class="faq-answer">
          <p>
            Ryzyka mogą obejmować brak kontroli nad niektórymi aspektami
            biznesu, konkurencję z innymi franczyzobiorcami, zmiany w branży
            oraz ograniczenia wynikające z umowy franczyzowej.
          </p>
        </div>
      </section>
    </div>
  </div>
</body>
